- if @search_objects.empty?
  = render partial: "search/results/empty"
- else
  .row-content-block
    = search_entries_info(@search_objects, @scope, @search_term)
    - unless @show_snippets
      - if @project
        在项目 #{link_to @project.name_with_namespace, [@project.namespace.becomes(Namespace), @project]}
      - elsif @group
        在群组 #{link_to @group.name, @group}

  .results.prepend-top-10
    - if @scope == 'commits'
      %ul.content-list.commit-list.table-list.table-wide
        = render partial: "search/results/commit", collection: @search_objects
    - else
      .search-results
        - if @scope == 'projects'
          .term
            = render 'shared/projects/list', projects: @search_objects
        - else
          = render partial: "search/results/#{@scope.singularize}", collection: @search_objects

    - if @scope != 'projects'
      = paginate(@search_objects, theme: 'gitlab')
